@;for(i in context){if(context.hasOwnProperty(i)){eval("var "+i+" = "+JSON.stringify(context[i])+";");}}@

<h2>Rennen <button class="uk-button uk-button-primary uk-button-small" data-click="addRace">neues Rennen anlegen</button></h2>

<table class="uk-table">
    <tr>
        <th>Rennen</th>
        <th>Datum</th>
        <th>Beschreibung</th>
        <th>Status</th>
        <th></th>
    </tr>
    @for r = 0; r < races.length; r++@
        @var race = races[r];@
        <tr data-id="#race.id#">
            <td>#race.name#</td>
            <td>#race.date#</td>
            <td>#race.description#</td>
            <td>#race.state#</td>
            <td>
                <!-- edit/delete -->
                @if race.state == 'PREPARE'@
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="editRace">bearbeiten</button>
                    <button class="uk-button uk-button-danger uk-button-mini" data-click="removeRace">löschen</button>
                @elseif race.state == 'REGISTRATION'@
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="editRace">bearbeiten</button>
                    <button class="uk-button uk-button-danger uk-button-mini" data-click="removeRace">löschen/absagen</button>
                @elseif race.state == 'QUALIFIYNG'@
                    <button class="uk-button uk-button-danger uk-button-mini" data-click="removeRace">löschen/absagen</button>
                @elseif race.state == 'RACE'@
                    <button class="uk-button uk-button-danger uk-button-mini" data-click="removeRace">löschen/absagen</button>
                @elseif race.state == 'EVALUATION'@
                    <button class="uk-button uk-button-danger uk-button-mini" data-click="removeRace">löschen</button>
                @endif@

                <!-- extra view -->
                @if race.state == 'REGISTRATION'@
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="showRegistration">Anmeldungen verwalten</button>
                @elseif race.state == 'QUALIFIYNG'@
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="showQualifying">Ergebnisse eintragen</button>
                @elseif race.state == 'RACE'@
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="showEvaluation">Ergebnisse eintragen</button>
                @endif@

                <!-- change state -->
                @if race.state == 'PREPARE'@
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="editRaceState" data-state="REGISTRATION">Anmeldephase starten</button>
                @elseif race.state == 'REGISTRATION'@
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="editRaceState" data-state="PREPARE"><-</button>
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="editRaceState" data-state="QUALIFIYNG">Anmeldephase schließen</button>
                @elseif race.state == 'QUALIFIYNG'@
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="editRaceState" data-state="REGISTRATION"><-</button>
                @elseif race.state == 'RACE'@
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="editRaceState" data-state="QUALIFIYNG"><-</button>
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="editRaceState" data-state="EVALUATION">Rennen ist vorbei</button>
                @elseif race.state == 'EVALUATION'@
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="editRaceState" data-state="RACE"><-</button>
                @endif@
            </td>
        </tr>
    @endfor@
</table>


<h2>Fahrzeugklassen <button class="uk-button uk-button-primary uk-button-small" data-click="addVehicleCategory">neue Fahrzeugklasse anlegen</button></h2>

<table class="uk-table">
    <tr>
        <th>Fahrzeugklasse</th>
        <th>Beschreibung</th>
        <th>Qualifyingtime (in Sekunden)</th>
        <th></th>
    </tr>
    @for r = 0; r < vehicle_categories.length; r++@
        @var vehicle_category = vehicle_categories[r];@
        <tr data-id="#vehicle_category.id#">
            <td>#vehicle_category.name#</td>
            <td>#vehicle_category.description#</td>
            <td>#vehicle_category.qualifying_time_s#</td>
            <td>
                <button class="uk-button uk-button-primary uk-button-mini" data-click="editVehicleCategory">bearbeiten</button>
                <button class="uk-button uk-button-danger uk-button-mini" data-click="removeVehicleCategory">löschen</button>
            </td>
        </tr>
    @endfor@
</table>