@;for(i in context){if(context.hasOwnProperty(i)){eval("var "+i+" = "+JSON.stringify(context[i])+";");}}@

@var vehicle = data;@

@if vehicle.id@
    <h2>Fahrzeug bearbeiten</h2>
@else@
    <h2>Fahrzeug anlegen</h2>
@endif@

<form class="uk-form" data-submit="save">
    <input type="hidden" name="owner_id" value="#current_user.id#"/>
    <div class="uk-form-row">
        <label class="uk-form-label">Marke</label>
        <div class="uk-form-controls">
            <input type="text" name="brand" value="#vehicle.brand#"/>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label">Typ</label>
        <div class="uk-form-controls">
            <input type="text" name="type" value="#vehicle.type#"/>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label">Erstzulassung</label>
        <div class="uk-form-controls">
            <input type="number" min="0" name="year" value="#vehicle.year#"/>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label">Hubraum (ccm)</label>
        <div class="uk-form-controls">
            <input type="number" min="0" name="capacity_ccm" value="#vehicle.capacity_ccm#"/>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label">Leistung (kw)</label>
        <div class="uk-form-controls">
            <input type="number" min="0" name="power_kw" placeholder="power_kw" value="#vehicle.power_kw#"/>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-s-s">Fahrzeugklasse</label>
        <div class="uk-form-controls">
            <select id="form-s-s" name="category_id">
                @for u = 0; u < vehicle_categories.length; u++@
                @var vehicle_category = vehicle_categories[u];@
                    <option value="#vehicle_category.id#" @if vehicle_category.id == vehicle.category_id@selected@endif@>#vehicle_category.name#</option>
                @endfor@
            </select>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-s-s">Fahrer</label>
        <div class="uk-form-controls">
            <select id="form-s-s" name="driver_id">
                @for u = 0; u < users.length; u++@
                @var user = users[u];@
                    <option value="#user.id#" @if user.id == vehicle.driver_id@selected@endif@>#user.firstname# #user.lastname#</option>
                @endfor@
            </select>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-s-s">Beifahrer</label>
        <div class="uk-form-controls">
            <select id="form-s-s" name="passenger_id">
                @for u = 0; u < users.length; u++@
                @var user = users[u];@
                    <option value="#user.id#" @if user.id == vehicle.passenger_id@selected@endif@>#user.firstname# #user.lastname#</option>
                @endfor@
            </select>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-s-s">Mechaniker</label>
        <div class="uk-form-controls">
            <select id="form-s-s" name="mechanic_id">
                @for u = 0; u < users.length; u++@
                @var user = users[u];@
                    <option value="#user.id#" @if user.id == vehicle.mechanic_id@selected@endif@>#user.firstname# #user.lastname#</option>
                @endfor@
            </select>
        </div>
    </div>
    <div class="uk-form-row">
        <button class="uk-button" data-click="return">Zurück</button>
        @if vehicle.id@
            <input type="submit" value="Speichern" class="uk-button uk-button-primary"/>
        @else@
            <input type="submit" value="Erstellen" class="uk-button uk-button-primary"/>
        @endif@
    </div>
</form>