@;for(i in context){if(context.hasOwnProperty(i)){eval("var "+i+" = "+JSON.stringify(context[i])+";");}}@

@var race = data;@

<span>Rennen '#race.name#':</span><br>
<ol class="race-states">
    <li><span class="#race.state == 'PREPARE' ? 'uk-text-primary uk-text-bold' : ''#">Vorbereitung</span> <i class="uk-icon-chevron-right"></i></li>
    <li><span class="#race.state == 'REGISTRATION' ? 'uk-text-primary uk-text-bold' : ( (race.state == 'PREPARE') ? 'uk-text-muted' : '')#">Anmeldephase</span> <i class="uk-icon-chevron-right"></i></li>
    <li><span class="#race.state == 'QUALIFYING' ? 'uk-text-primary uk-text-bold' : ( (race.state == 'PREPARE' || race.state == 'REGISTRATION') ? 'uk-text-muted' : '')#">Qualifying</span> <i class="uk-icon-chevron-right"></i></li>
    <li><span class="#race.state == 'RACE' ? 'uk-text-primary uk-text-bold' : ( (race.state == 'PREPARE' || race.state == 'REGISTRATION' || race.state == 'QUALIFYING') ? 'uk-text-muted' : '')#">Rennen</span> <i class="uk-icon-chevron-right"></i></li>
    <li><span class="#race.state == 'EVALUATION' ? 'uk-text-primary uk-text-bold' : ( (race.state == 'PREPARE' || race.state == 'REGISTRATION' || race.state == 'QUALIFYING' || race.state == 'RACE') ? 'uk-text-muted' : '')#">Beendet</span></li>
</ol>

<h2>Anmeldephase</h2>

<button class="uk-button" data-click="return">Zurück</button>
<button class="uk-button uk-button-primary" data-click="editRaceState" data-state="QUALIFYING">Anmeldephase schließen</button>


<h3>angemeldete Fahrzeuge</h3>

<table class="uk-table uk-table-hover uk-table-striped">
    <tr>
        <th>Typ</th>
        <th>Marke</th>
        <th>Beschreibung</th>
        <th></th>
    </tr>
    @for r = 0; r < vehicles.length; r++@
        @var vehicle = vehicles[r];@
        @var v_race;@
        @if vehicle.race_id  == race.id@
            <tr data-id="#vehicle.id#">
                <td>#vehicle.type#</td>
                <td>#vehicle.brand#</td>
                <td>#vehicle.description#</td>
                <td>
                    @if race.state == 'REGISTRATION'@
                        <button class="uk-button uk-button-danger uk-button-mini" data-click="unregisterVehicle" data-confirm="Soll das Fahrzeug wirklich abgemeldet werden?">abmelden</button>
                    @endif@
                </td>
                <td>
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="editVehicle">bearbeiten</button>
                    <!--button class="uk-button uk-button-danger uk-button-mini" data-click="removeVehicle" data-confirm="Soll das Fahrzeug wirklich gelöscht werden?">löschen</button-->
                </td>
            </tr>
        @endif@
    @endfor@
</table>

<hr>

<h3>unangemeldete Fahrzeuge</h3>

<table class="uk-table uk-table-hover uk-table-striped">
    <tr>
        <th>Typ</th>
        <th>Marke</th>
        <th>Beschreibung</th>
        <th></th>
        <th></th>
    </tr>
    @for r = 0; r < vehicles.length; r++@
        @var vehicle = vehicles[r];@
        @var v_race;@
        @if !(vehicle.race_id && (v_race = app.findRace(vehicle.race_id)))@
            <tr data-id="#vehicle.id#">
                <td>#vehicle.type#</td>
                <td>#vehicle.brand#</td>
                <td>#vehicle.description#</td>
                <td>
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="registerVehicle">anmelden</button>
                </td>
                <td>
                    <button class="uk-button uk-button-primary uk-button-mini" data-click="editVehicle">bearbeiten</button>
                    <button class="uk-button uk-button-danger uk-button-mini" data-click="removeVehicle" data-confirm="Soll das Fahrzeug wirklich gelöscht werden?">löschen</button>
                </td>
            </tr>
        @endif@
    @endfor@
</table>


<button class="uk-button" data-click="return">Zurück</button>
<button class="uk-button uk-button-primary" data-click="editRaceState" data-state="QUALIFYING">Anmeldephase schließen</button>
