@;for(i in context){if(context.hasOwnProperty(i)){eval("var "+i+" = "+JSON.stringify(context[i])+";");}}@

@var race = data@

<h2>Rennauswertung</h2>

<table class="uk-table uk-form">
    <tr>
        <th>Fahrzeugklasse</th>
        <th>Fahrzeug</th>
        @for var s = 0; s < race.stations.length; s++@
            @var station = race.stations[s];@
            <th title="Zeit (in Sekunden)">#station.name#</th>
        @endfor@
    </tr>
    @for vc = 0; vc < vehicle_categories.length; vc++@
        @var vehicle_category = vehicle_categories[vc]@
        @for v = 0; v < vehicles.length; v++@
            @vehicle = vehicles[v]@
            @if vehicle.race_id == race.id && vehicle.category_id == vehicle_category.id@
                @var qualifying = app.findRaceQualifying(race.id, vehicle.id) || {}@
                @if qualifying.state == 'QUALIFIED'@
                    <tr class="@if qualifying.state == 'DISQUALIFIED'@disqualified@endif@">
                        <td>#vehicle_category.name#</td>
                        <td>#vehicle.brand# #vehicle.type#</td>
                        @for var s = 0; s < race.stations.length; s++@
                            @var station = race.stations[s];@
                            @var evaluation = app.findRaceEvaluation(race.id, vehicle.id, s) || {}@
                            <td>
                                <input type="number" min="0" placeholder="Zeit" title="Zeit (in Sekunden)" name="time_s" data-vehicle_id="#vehicle.id#" data-station="#s#" value="#evaluation.time_s#">
                                @if evaluation.correct_station_order == true@
                                    <i class="uk-icon-check-circle uk-icon-medium uk-text-success" title="Reihenfolge ok"></i>
                                @elseif evaluation.correct_station_order == false@
                                    <i class="uk-icon-times-circle uk-icon-medium uk-text-danger" title="Reihenfolge falsch"></i>
                                @endif@
                            </td>
                        @endfor@
                    </tr>
                @endif@
            @endif@
        @endfor@
    @endfor@
</table>

<button class="uk-button" data-click="return">Zurück</button>
<button class="uk-button uk-button-primary" data-click="save">Speichern & Reihenfolge überprüfen</button>

@if data.complete@
<br><br>

<button class="uk-button uk-button-primary" data-click="editRaceState" data-state="EVALUATION">Rennen beenden</button>
@endif@

<hr>

<h2>Unqualifizierte/disqualifizierte Fahzeuge</h2>

<table class="uk-table uk-form">
    <tr>
        <th>Fahrzeugklasse</th>
        <th>Fahrzeug</th>
        <th>Status</th>
    </tr>
    @for vc = 0; vc < vehicle_categories.length; vc++@
        @var vehicle_category = vehicle_categories[vc]@
        @for v = 0; v < vehicles.length; v++@
            @vehicle = vehicles[v]@
            @if vehicle.race_id == race.id && vehicle.category_id == vehicle_category.id@
                @var qualifying = app.findRaceQualifying(race.id, vehicle.id) || {}@
                @if qualifying.state != 'QUALIFIED'@
                    <tr>
                        <td>#vehicle_category.name#</td>
                        <td>#vehicle.brand# #vehicle.type#</td>
                        <td>
                            @if qualifying.state == 'UNQUALIFIED'@
                                <span class="uk-badge uk-badge-danger">unqualifiziert</span>
                            @elseif qualifying.state == 'DISQUALIFIED'@
                                <span class="uk-badge uk-badge-danger">disqualifiziert</span>
                            @endif@
                        </td>
                    </tr>
                @endif@
            @endif@
        @endfor@
    @endfor@
</table>

<button class="uk-button" data-click="return">Zurück</button>