@var race = context@

@if race.id@
    <h2>Rennen bearbeiten</h2>

    <form class="uk-form" action="/race/#race.id#" method="delete" data-event="response.race.delete">
        <input type="submit" value="Löschen" class="uk-button uk-button-danger"/>
    </form>
@else@
    <h2>Rennen erstellen</h2>
@endif@

@if race.id@
<form class="uk-form" action="/race/#race.id#" method="put" data-event="response.race.update">
@else@
<form class="uk-form" action="/race" method="post" data-event="response.race.create">
@endif@
    <input type="hidden" name="leader_id" value="#LITAPP.user.id#"/>
    <div class="uk-form-row">
        <input type="text" name="name" placeholder="Name" value="#race.name#"/>
    </div>
    <div class="uk-form-row">
        <input type="text" name="date" placeholder="Datum" value="#race.date#"/>
    </div>
    <div class="uk-form-row">
        <input type="text" name="description" placeholder="Beschreibung" value="#race.description#"/>
    </div>
    @if race.id@
        <fieldset data-uk-margin>
            <legend>Stationen</legend>
            @for var s = 0; s < race.stations.length; s++@
                @var station = race.stations[s]@

                <input type="hidden" name="stations[#station.id#]race_id" value="#race.id#"/>
                <div class="uk-form-row">
                    <input type="text" name="stations[#station.id#]name" placeholder="Name"/>
                    <input type="text" name="stations[#station.id#]description" placeholder="Beschreibung"/>
                    @if station.id && s > 0@
                    <form class="uk-form" action="/station/#station.id#" method="delete" data-event="station.delete">
                        <input type="submit" value="Löschen" class="uk-button uk-button-danger"/>
                    </form>
                    @endif@
                </div>
                <div class="uk-form-row">
                    <button class="uk-button uk-button-primary" data-event="send.station.create" data-event-data='#JSON.stringify(race.id)#'>Station hinzufügen</button>
                </div>
            @endfor@
        </fieldset>
    @endif@
    <div class="uk-form-row">
        <button class="uk-modal-close uk-button" data-event="show.index">Zurück</button>
        @if race.id@
            <input type="submit" value="Speichern" class="uk-button uk-button-primary"/>
        @else@
            <input type="submit" value="Erstellen" class="uk-button uk-button-primary"/>
        @endif@
    </div>
</form>