@var races = LITAPP.races;@
@var users = LITAPP.users;@
@var vehicles = LITAPP.vehicles;@

<h2>Fahrzeuge</h2>

<button class="uk-button uk-button-primary" data-event="show.vehicle">Fahrzeuge anmelden</button>
<table class="uk-table">
    @for r = 0; r < vehicles.length; r++@
        @var vehicle = vehicles[r];@
        <tr>
            <td>#vehicle.type#</td>
            <td>#vehicle.brand#</td>
            <td>#vehicle.description#</td>
        </tr>
    @endfor@
</table>

<hr>

<h2>Rennen</h2>
<table class="uk-table">
    @for r = 0; r < races.length; r++@
        @var race = races[r];@
        <tr>
            <td>#race.name#</td>
            <td>#race.date#</td>
            <td>#race.description#</td>
        </tr>
    @endfor@
</table>