# coding: utf-8
<!DOCTYPE html>
<html>
    <head>
        <title><%block name="title"/></title>
        <meta charset="UTF-8"/>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.min.css" />
        <link rel="stylesheet" href="/main.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/js/uikit.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/inheritance.js"></script>
        <script src="/js/es.js"></script>
        <script src="/js/te.js"></script>
        <script src="/js/tm.js"></script>
        <script>
            var user = ${json_dumps(user)};
        </script>
    </head>
    <body>
        <header>
            <div class="clear">
                <ul id="menu" class="pull-left">
                    <li><a href="/">Themen</a></li>
                    <li><a href="/users">Benutzer</a></li>
                    <li><a href="/content/doc/doc.html">Dokumentation</a></li>
                </ul>
                <div class="pull-right">
                    %if user is None:
                        <form class="ajax inline-form" action="/login" method="post">
                            <input type="text" name="user" placeholder="Benutzername"/>
                            <input type="password" name="password" placeholder="Passwort"/>
                            <input type="submit" value="einloggen"/>
                        </form>
                    %else:
                        <span>Hallo ${user["name"]}.</span>
                        <a href="/logout">ausloggen</a>
                    %endif
                </div>
            </div>
            <%include file="/partials/breadcrumb.html"/>
        </header>
        <div class="content">
            %if user_message != None:
                <p class="message">${user_message}</p>
            %endif

            <%block name="content"/>
        </div>
        <footer>
            <span>© 2015 - Lukas Quast und Frederic Wagner</span>
        </footer>
    </body>
</html>
